#app {
	position: absolute;
	background-image: url("images/tweed.png");
	top: 0px;
	left: 0px;
	margin: 0px;
	width: 100%;
	height: 1200px;
}
#column {
	z-index: 10;
	position: absolute;
	left: 0;
	right: 0;
	top: 0px;
	left: 0px;
	width: 800px;
	height: 600px;
	margin: 20px auto;
	border: solid rgba(255, 255, 255, .3) 5px;
	box-shadow: 0px 7px 28px rgba(0, 0, 0, .7);
}
#view {
	z-index: 20;
	top: 0px;
	left: 0px;
	position: absolute;
	width: 800px;
	height: 600px;
}

#processingCanvas {
		width: 100%;
	height: 100%;
}

#buttons {
	z-index: 30;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 800px;
	height: 30px;
}
button {
	font-size: 12px;
	background-color: rgba(130, 150, 200, 1);
	border-radius: 15px;
	border: 0;
	color: white;
	cursor: pointer;
	cursor: hand;
	pointer-events: all;
}
button:active {
	background-color: rgba(220, 220, 240, 1);
}
button:hover {
	background-color: rgba(130, 150, 240, 1);
}
button:focus {
	outline: none;
}

#output {
	padding: 7px;
	z-index: 60;
	background-color: rgba(0, 0, 0, .5);
	color: white;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 400px;
	height: 100px;
	
	 font-family: "Trebuchet MS", Helvetica, sans-serif;
}
